#particles-js{
    background-color: #46418e;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

body{
    margin: 0;
}

.form{
    position: absolute;
    border: solid 2px pink;
    height: 450px;
    width: 350px;
    margin: 0 auto;
}



