#particles-js{
    background-color: #46418e;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 100vh;
    width: 100%
}

body{
    margin: 0;
}

.form{
    position: absolute;
   
}

form{
    background-color: aliceblue;
    opacity: 0.9;
}