#particles-js{
    background-color: #46418e;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

body{
    margin: 0;
}

.form{
    position: absolute;
    height: 450px;
    width: 350px;
    margin: 0 auto;
    background-color: whitesmoke;
    opacity: 0.8;
    border-radius: 5px;
}
.formTitle{
    color: #46418e;
    font-size: 42px;
    font-weight: bold;
}

.formLabel{
    color: #46418e;
    font-size: 18px;
}

#submit{
    background-color: #46418e;
    color: whitesmoke;
    transition: all .2s ease-in-out;
}

#submit:hover{
    background-color: #726f9b;
    border-color: #726f9b;
    transform: scale(1.1);
}
